.postRow {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.postRow div {
  max-width: 500px;
}
.postRow h2 {
  color: #111;
}
.postRow h2 span {
  color: #3e36d2;
}

.postRow p {
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.postRow a {
  display: block;
  padding: 16px 8px;
  background-color: #4542f3;
  color: #fff;
  text-decoration: none;
  border-radius: 6px;
}
